/* You can add global styles to this file, and also import other style files */
input[type=number] {
    direction: rtl;
}
@font-face {
    font-family: nastaligh;
    src: url(./assets/IranNastaliq/IranNastaliq.ttf);
  }
 
  body{
    font-family:  nastaligh;
    
  }